<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="SERVICE_NAME">user</Property>
        <Property name="LOG_DIR">/var/log/${service.sid}</Property>
        <Property name="ROLL_INTERVAL">1</Property>
        <Property name="ROLL_SIZE">50MB</Property>
        <Property name="DELETE_AGE">30d</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{2}: %m%n" charset="UTF-8"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${r'${LOG_DIR}'}/${r'${SERVICE_NAME}'}-server.log"
                     filePattern="${r'${LOG_DIR}'}/${r'${SERVICE_NAME}'}-server.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{ISO8601} %-5p %c{2} (%F:%M(%L)) - %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${r'${ROLL_INTERVAL}'}"/>
                <SizeBasedTriggeringPolicy size="${r'${ROLL_SIZE}'}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${r'${LOG_DIR}'}" maxDepth="2">
                    <IfFileName glob="${r'${SERVICE_NAME}'}-server.*.log" />
                    <IfAny>
                        <IfLastModified age="${r'${DELETE_AGE}'}" />
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
