- name: yarn.scheduler.capacity.root.default.acl_submit_applications
  recommendExpression: ${"*"}
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.maximum-applications
  recommendExpression: 10000
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.maximum-capacity
  recommendExpression: 100
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.maximum-am-resource-percent
  recommendExpression: 0.1
  defaultValue: null
  valueType: FLOAT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.user-limit-factor
  recommendExpression: 1
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.state
  recommendExpression: RUNNING
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.acl_administer_queue
  recommendExpression: ${"*"}
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.node-locality-delay
  recommendExpression: -1
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.queues
  recommendExpression: default
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.resource-calculator
  recommendExpression: org.apache.hadoop.yarn.util.resource.DominantResourceCalculator
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.default.user-limit-factor
  recommendExpression: 1
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.default.maximum-capacity
  recommendExpression: 100
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.default.capacity
  recommendExpression: 100
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.default.state
  recommendExpression: RUNNING
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.maximum-applications
  recommendExpression: 10000
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.maximum-am-resource-percent
  recommendExpression: 0.1
  defaultValue: null
  valueType: FLOAT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.acl_submit_applications
  recommendExpression: ${"*"}
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.default.acl_administer_queue
  recommendExpression: ${"*"}
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: yarn.scheduler.capacity.root.capacity
  recommendExpression: 100
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [capacity_scheduler]
  visibility: READ_WRITE

- name: mapreduce.job.max.split.locations
  recommendExpression: 500
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: yarn.app.mapreduce.am.command-opts
  recommendExpression: -agentpath:/usr/lib/hadoop/bin/libagent.so -Xmx2048m
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapreduce.framework.name
  recommendExpression: yarn
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapreduce.map.speculative
  recommendExpression: true
  defaultValue: null
  valueType: BOOL
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: raid.distraid.max.files
  recommendExpression: 300
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapred.child.java.opts
  recommendExpression: -agentpath:/usr/lib/hadoop/bin/libagent.so -Xmx2048m
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapred.child.heapsize
  recommendExpression: 2048
  defaultValue: null
  valueType: MB
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: raidnode.files.fix.per.job
  recommendExpression: 500
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapreduce.job.reduce.slowstart.completedmaps
  recommendExpression: 1
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapreduce.job.maps
  recommendExpression: 1
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: resourcemanager.admin.port
  recommendExpression: 8033
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: resourcemanager.port
  recommendExpression: 8032
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: resourcemanager.resource-tracker.port
  recommendExpression: 8031
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: resourcemanager.scheduler.port
  recommendExpression: 8030
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: resourcemanager.webapp.port
  recommendExpression: 8088
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: yarn.nodemanager.webapp.address
  defaultValue: ${r"${yarn.nodemanager.hostname}:8042"}
  recommendExpression: ${r"${yarn.nodemanager.hostname}:8042"}
  valueType: STRING
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: timelineserver.port
  recommendExpression: 10021
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: timelineserver.http.port
  recommendExpression: 8188
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes: [YARN_RESOURCEMANAGER]
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: mapreduce.shuffle.port
  recommendExpression: 13562
  defaultValue: null
  valueType: PORT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: mapreduce.reduce.speculative
  recommendExpression: false
  defaultValue: null
  valueType: BOOL
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: raid.distraid.max.jobs
  recommendExpression: 10
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: [mapred_site]
  visibility: READ_WRITE

- name: yarn.scheduler.maximum-allocation-mb
  recommendExpression: 98304
  defaultValue: null
  valueType: MB
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.vmem-check-enabled
  recommendExpression: false
  defaultValue: null
  valueType: BOOL
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.resourcemanager.scheduler.class
  recommendExpression: org.apache.hadoop.yarn.server.resourcemanager.scheduler.capacity.CapacityScheduler
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.aux-services.mapreduce_shuffle.class
  recommendExpression: org.apache.hadoop.mapred.ShuffleHandler
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.pmem-check-enabled
  recommendExpression: false
  defaultValue: null
  valueType: BOOL
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.application.classpath
  recommendExpression: $HADOOP_CONF_DIR,$HADOOP_COMMON_HOME/*,$HADOOP_COMMON_HOME/lib/*,$HADOOP_HDFS_HOME/*,$HADOOP_HDFS_HOME/lib/*,$HADOOP_MAPRED_HOME/*,$HADOOP_MAPRED_HOME/lib/*,$YARN_HOME/*,$YARN_HOME/lib/*
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.scheduler.maximum-allocation-vcores
  recommendExpression: 96
  defaultValue: null
  valueType: NON_NEG_INT
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.aux-services
  recommendExpression: mapreduce_shuffle
  defaultValue: null
  valueType: STRING
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.resource.cpu-vcores
#  recommendExpression: |
#    <#if numCores gt 6>
#    ${numCores}
#    <#else>
#    6
#    </#if>
  recommendExpression: 6
  defaultValue: null
  valueType: "NON_NEG_INT"
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
# isNodeSpecific : true
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.resource.memory-mb
#  recommendExpression: ${(memBytes / 1024 / 1024 / 2)?floor?c}
  recommendExpression: 6
  defaultValue: null
  valueType: "MB"
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
# isNodeSpecific : true
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.local-dirs
  recommendExpression: |
    <#function localDir suffix>
      <#if rcmdMounts?size == 0>
        <#return suffix>
      <#else>
        <#local dirs = []>
        <#list rcmdMounts?sort as mnt>
         <#local dirs = dirs + [mnt + suffix]>
        </#list>
        <#return dirs?join(",")>
      </#if>
    </#function>
    ${localDir("/hadoop/yarn/local")}
  defaultValue: null
  valueType: STRING
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
  isNodeSpecific: true
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.log-dirs
  recommendExpression: |
    <#function localDir suffix>
      <#if rcmdMounts?size == 0>
        <#return suffix>
      <#else>
        <#local dirs = []>
        <#list rcmdMounts?sort as mnt>
         <#local dirs = dirs + [mnt + suffix]>
        </#list>
        <#return dirs?join(",")>
      </#if>
    </#function>
    ${localDir("/hadoop/yarn/logs")}
  defaultValue: null
  valueType: ABSOLUTE_PATH
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
  isNodeSpecific: true
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.remote-app-log-dir
  recommendExpression: |
    <#function hdfsPath suffix>
      <#local hdfs=dependencies['HDFS']>
      <#if hdfs['nameservices']?? && hdfs['nameservices']?size gt 0>
        <#local firstNS=hdfs[hdfs['nameservices'][0]]>
        <#if firstNS['mountPoints']?? && firstNS['mountPoints']?length gt 0>
          <#local prefix=firstNS['mountPoints']?split(',')[0] + '/' + service['sid']>
        <#else>
          <#local prefix='/' + service['sid']>
        </#if>
      <#else>
        <#local prefix='/' + service['sid']>
      </#if>
      <#return prefix + suffix>
    </#function>
    ${hdfsPath('/var/log/hadoop-yarn/apps')}
  defaultValue: "/tmp/logs"
  valueType: ABSOLUTE_PATH
  scope: !<RoleTypes>
    roleTypes: [YARN_NODEMANAGER]
  onDeps: [HDFS]
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.app.mapreduce.am.staging-dir
  recommendExpression: |
    <#function hdfsPath suffix>
      <#local hdfs=dependencies['HDFS']>
      <#if hdfs['nameservices']?? && hdfs['nameservices']?size gt 0>
        <#local firstNS=hdfs[hdfs['nameservices'][0]]>
        <#if firstNS['mountPoints']?? && firstNS['mountPoints']?length gt 0>
          <#local prefix=firstNS['mountPoints']?split(',')[0] + '/' + service['sid']>
        <#else>
          <#local prefix='/' + service['sid']>
        </#if>
      <#else>
        <#local prefix='/' + service['sid']>
      </#if>
      <#return prefix + suffix>
    </#function>
    ${hdfsPath('/var/log/hadoop-yarn/apps')}
  defaultValue: "/tmp/hadoop-yarn/staging"
  valueType: ABSOLUTE_PATH
  scope: !<ServiceLevel> {}
  onDeps: [HDFS]
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.delete.debug-delay-sec
  recommendExpression: 86400
  defaultValue: null
  valueType: SECONDS
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.nodemanager.resource.memory-mb
  recommendExpression: 7974
  defaultValue: null
  valueType: MB
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: yarn.log-aggregation-enable
  recommendExpression: false
  defaultValue: null
  valueType: BOOL
  scope: !<ServiceLevel> {}
  onDeps: []
  groups: ["yarn-site.xml"]
  visibility: READ_WRITE

- name: nodemanager.memory
  recommendExpression: 4096
  defaultValue: null
  valueType: MB
  isNodeSpecific: true
  scope: !<RoleTypes>
    roleTypes:
    - YARN_NODEMANAGER
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: resourcemanager.memory
  recommendExpression: 4096
  defaultValue: null
  valueType: MB
  isNodeSpecific: true
  scope: !<RoleTypes>
    roleTypes:
    - YARN_RESOURCEMANAGER
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: historyserver.memory
  recommendExpression: 4096
  defaultValue: null
  valueType: MB
  isNodeSpecific: true
  scope: !<RoleTypes>
    roleTypes:
    - YARN_HISTORYSERVER
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: timelineserver.memory
  recommendExpression: 4096
  defaultValue: null
  valueType: MB
  isNodeSpecific: true
  scope: !<RoleTypes>
    roleTypes:
    - YARN_TIMELINESERVER
  onDeps: []
  groups: []
  visibility: READ_WRITE

- name: historyserver.http-port
  recommendExpression: 19888
  defaultValue: null
  valueType: PORT
  scope: !<RoleTypes>
    roleTypes:
    - YARN_HISTORYSERVER
  onDeps: []
  groups: []
  visibility: READ_WRITE
