<#noparse>
[Unit]
Description=Docker Registry Service
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target

[Service]
</#noparse>
Environment=FILE=/etc/${service.sid}/docker-registry.yml
<#noparse>
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

ExecStartPre=-/usr/bin/docker-compose -f $FILE kill
ExecStartPre=-/usr/bin/docker-compose -f $FILE rm
ExecStartPre=-/usr/bin/docker-compose -f $FILE rm -f

ExecStart=/usr/bin/docker-compose -f $FILE up --force-recreate

ExecStop=/usr/bin/docker-compose -f $FILE stop

NotifyAccess=all

[Install]
WantedBy=multi-user.target
</#noparse>