[Unit]
Description=Dragonfly client
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/df-client start
ExecStop=/usr/bin/df-client stop
PIDFile=/var/run/df-client.pid

[Install]
WantedBy=multi-user.target